:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid;
  border-radius: 10px;
  border-color: rgba(var(--primary-color-rgb), 0.2);

  &.compact {
    border: none;
  }

  padding: 2px 4px;
}

.weight {
  text-align: center;
  width: 3rem;
}
