.top-nav-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  background-color: var(--nav-btn-color);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  x: 0;
  y: -10px;
}
