@if (excercise(); as excercise) {
  <div>{{ excercise.name }}</div>
  <div>{{ excercise.description }}</div>
  <div>Category: {{ excercise.category }}</div>
  <div>Type: {{ excercise.type }}</div>
  @for (muscleGroup of excercise.muscleGroups; track $index) {
    <div>{{ muscleGroup.typeId }}, impact {{ muscleGroup.impact }}</div>
  }
  @for (progress of excercise.progressHistory; track $index) {
    <div>
      {{ progress.date | date }} - {{ progress.weight }}kg
      @for (set of progress.sets; track $index) {
        {{ set.weight ? set.weight + 'kg' : '' }} {{ set.reps }}
      }
    </div>
  }

  <form [formGroup]="addSetForm" (ngSubmit)="addSet()">
    <input type="number" formControlName="weight" />
    <input type="text" formControlName="reps" />
    <button type="submit" [disabled]="!addSetForm.valid">Add set</button>
  </form>

  @for (set of currentSetsSignal(); track $index) {
    <div>{{ set.weight }}kg {{ set.reps }}</div>
  }
} @else {
  <button (click)="start()">Start</button>
}
