{{ restTimerSignal() | async }}
@if (exerciseSignal(); as excercise) {
  <div>{{ excercise.name }}</div>
  <div>{{ excercise.description }}</div>

  <form [formGroup]="addSetForm" (ngSubmit)="addSet()">
    <input type="number" formControlName="weight" />
    <input type="text" formControlName="reps" />
    <button type="submit" [disabled]="!addSetForm.valid">Add set</button>
  </form>

  @for (set of currentSetsSignal(); track $index) {
    <div>{{ set.weight }}kg {{ set.reps }}</div>
  }

  <button (click)="finishExcercise()">Finish excercise</button>
}
