<div>
  {{ workoutTimerSignal() | async }}
</div>
<div>
  {{ restTimerSignal() | async }}
</div>
@if (currentWorkoutSignal(); as workout) {
  @for (excercise of workout.workoutExercises; track excercise.id) {
    <div>
      <olab-excercise-picker
        [performedExcerciseIds]="getPerformedExcercises(workout)"
        [excercise]="excercise"
        (excercisePicked)="startExcercise(excercise.id, $event)"></olab-excercise-picker>
    </div>
  }
} @else {
  @for (wp of allWorkoutPlansSignal(); track wp.id) {
    @if (todayWorkoutPlanSignal()?.id === wp.id) {
      <div>RECOMMENDED FOR TODAY</div>
    }
    <div>{{ wp.name }}</div>
    <div>{{ wp.description }}</div>

    @for (ep of wp.exercisePlans; track $index) {
      <div>{{ ep }}</div>
    }
    <button (click)="startWorkout(wp.id)">Start</button>
  }
}
